@font-face {
  font-family: 'banhji-accounting-icon';
  src:  url('fonts/banhji-accounting-icon.eot?95p6hh');
  src:  url('fonts/banhji-accounting-icon.eot?95p6hh#iefix') format('embedded-opentype'),
    url('fonts/banhji-accounting-icon.ttf?95p6hh') format('truetype'),
    url('fonts/banhji-accounting-icon.woff?95p6hh') format('woff'),
    url('fonts/banhji-accounting-icon.svg?95p6hh#banhji-accounting-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b-"], [class*=" b-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'banhji-accounting-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-chat:before {
  content: "\e901";
  color: #474747;
}
.b-add:before {
  content: "\e900";
  color: #474747;
}
.b-close:before {
  content: "\e902";
  color: #474747;
}
.b-full:before {
  content: "\e903";
  color: #474747;
}
.b-mini:before {
  content: "\e904";
  color: #474747;
}
.b-modul:before {
  content: "\e905";
  color: #474747;
}
.b-search:before {
  content: "\e906";
  color: #ffffff;
}
.b-transation:before {
  content: "\e907";
  color: #474747;
}
